<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>org.example.controller.AccountController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/api/v1/users/accounts/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthController</servlet-name>
        <servlet-class>org.example.controller.AuthController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthController</servlet-name>
        <url-pattern>/api/v1/auth/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HelpController</servlet-name>
        <servlet-class>org.example.controller.HelpController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelpController</servlet-name>
        <url-pattern>/api/v1/help/*</url-pattern>
    </servlet-mapping>

</web-app>
